.cardProperty {
  background-color: rgba(216, 176, 226, 0.815);
  border-radius: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  width: 30rem;
  margin-bottom: 2.5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.imageProp {
  border-radius: 1.5rem;
  height: 30rem;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media only screen and (min-width: 768px) {
  .cardProperty {
    margin-left: 5rem;
  }
}

.btn {
  background-color: rgb(107, 14, 117) !important;
  border-radius: 1rem !important;
  border-color: rgb(107, 14, 117) !important;
  color: black !important;
  font-size: 1.5rem !important;
  padding: 0.4rem !important;
  text-decoration: none !important;
}

.linkZ {
  background-color: rgb(107, 14, 117);
  border-radius: 1rem;
  border-color: rgb(107, 14, 117);
  color: black;
  font-size: 1.5rem;
  padding: 0.4rem;
  text-decoration: none;
}

.linkZ:hover {
  color: white;
}

.cardProperty:hover,
.cardProperty:active {
  transform: scale(1.1);
}
