.container {
  color: black;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 1rem;
}

.h1 {
  padding-bottom: 2rem;
  text-align: center;
}

.about h1,
.sliderWrap h1 {
  text-align: center;
}

.sliderWrap {
  width: 500px;
  height: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 601px) {
  .container {
    margin-left: 1rem;
  }

  .sliderWrap {
    width: min(500px, 100%);
  }
}

.footer {
  text-align: center;
}
