.container {
  color: black;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 1rem;
  justify-content: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 1rem;
}

.h1 {
  padding-bottom: 2rem;
  text-align: center;
}

@media only screen and (max-width: 601px) {
  .container {
    margin-left: 1rem;
  }
}

.footer {
  text-align: center;
}
