.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: inherit;
  text-align: center;
  border-radius: 2px;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 2rem;
  color: #212529;
  font-weight: 550;
}

.filterButtons {
  display: flex;
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  border-radius: 2px;
  padding-bottom: 3rem;
}

body {
  background-image: url("https://i.imgur.com/BLbQkuY.jpeg");
  background-size: cover;
}

.spinner {
  height: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
}

html {
  background-image: url("https://i.imgur.com/B60k9z6.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
