h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  margin-left: auto;
}
.cardProperty {
  margin-left: 4rem;
  background-color: rgba(45, 72, 192, 0.9);
  border-radius: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  color: #ffe2ed;
  width: 30rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.imageProp {
  border-radius: 1.5rem;
  height: 30rem;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.textareaInfo {
  width: 10rem;
  height: 5rem;
  border-radius: 2px;
  margin-left: auto;
}

.pedigree {
  background-color: rgba(45, 72, 192, 0.9);
  border-radius: 1.5rem;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  height: 41rem;
  padding: 0.5rem;
  text-align: center;
}

.pedigreeImg {
  border-radius: 1.5rem;
  height: 35rem;
  object-fit: initial;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media only screen and (max-width: 600px) {
  .cardProperty {
    width: 24rem;
    font-size: 1.2rem;
    margin-left: 0;
  }
  .imageProp {
    object-fit: cover;
  }
}

.futer {
  background-color: #212529;
  opacity: 0.9;
  border-radius: 1.5rem;
  color: #ffe2ed;
  font-size: medium;
  padding: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.pedigreeText {
  margin: 2rem;
  color: #ffe2ed;
  font-weight: 500;
  font-size: large;
}
