h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  text-align: center;
  border-radius: 2px;
  margin-left: auto;
}
.cardProperty {
  margin-left: 5rem;
  background-color: rgba(216, 176, 226, 0.815);
  border-radius: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  width: 30rem;
  margin-bottom: 2.5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.imageProp {
  border-radius: 1.5rem;
  height: 30rem;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.textareaInfo {
  width: 10rem;
  height: 5rem;
  border-radius: 2px;
  margin-left: auto;
}

.pedigree {
  border-radius: 1.5rem;
  height: 41rem;
  object-fit: initial;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
  width: 50rem;
}
