.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 30%;
  z-index: 100;
  overflow: hidden;
  border-radius: 1rem;
}

.header {
  background: #212529;
  display: flex;
  padding: 1rem;
  color: white;
  justify-content: center;
  border-radius: 0.7rem;
}

.info {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.return {
  display: flex !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
