.leftArrow {
  position: absolute;
  left: -9.6rem;
  bottom: 0rem;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  padding-bottom: 1.5rem;
  border-radius: 1rem;
}

.rightArrow {
  position: absolute;
  bottom: 0rem;
  right: -9.5rem;
  font-size: 3rem;
  color: black;
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
  padding-bottom: 1.5rem;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderImage {
  width: 50rem;
  height: 40rem;
  border-radius: 1rem;
  object-fit: cover;
}

.symbol {
  color: #ffe2ed;
  background-color: #212529;
  border-radius: 1rem;
  position: absolute;
  font-size: 5rem;
  font-weight: 500;
  top: 1rem;
}

@media only screen and (max-width: 601px) {
  .rightArrow {
    font-size: 2rem;
    color: black;
    cursor: pointer;
    user-select: none;
    margin-right: 20rem;
    height: 4rem;
    top: 42rem;
  }

  .leftArrow {
    position: absolute;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    padding-bottom: 1.5rem;
    margin-left: 20rem;
    height: 4rem;
    top: 42rem;
  }

  .sliderImage {
    object-fit: contain;
  }

  .symbol {
    top: 1.5rem;
    left: 0.5rem;
  }
}
